<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define FixSurfaceKeyboard_TargetDir=$(var.FixSurfaceKeyboard.TargetDir)?>
	<Product Id="*" Name="FixSurfaceKeyboard" Language="1033" Version="1.0.7.0" Manufacturer="Stephan Troyer" UpgradeCode="A4331800-4547-429D-B43B-EC66D61535F5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" Manufacturer="Stephan Troyer" InstallPrivileges="elevated" />
    
    <Property Id='ARPURLINFOABOUT'>https://github.com/stephtr/FixSurfaceKeyboard</Property>
    <Property Id='ARPHELPLINK'>https://github.com/stephtr/FixSurfaceKeyboard/issues</Property>
    <Property Id='ARPNOMODIFY'>1</Property>
    <Property Id='ARPNOREPAIR'>1</Property>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"  />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <CustomAction Id='InstallTask' FileKey='MainExecutable' ExeCommand='/install' Execute='deferred' Impersonate='no' />
    <CustomAction Id='UninstallTask' FileKey='MainExecutable' ExeCommand='/uninstall' Execute='deferred' Impersonate='no' Return='ignore' />
    
    <InstallExecuteSequence>
      <Custom Action='InstallTask' After='InstallFiles'>(NOT Installed) AND (NOT REMOVE)</Custom>
      <Custom Action='UninstallTask' After='InstallInitialize'>REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="FixSurfaceKeyboard" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="FixSurfaceKeyboard.exe" Guid="df33cd53-d8df-49a2-b692-6ec1e942661d" Win64="yes">
			  <File Id="MainExecutable" Name="FixSurfaceKeyboard.exe" Source="$(var.FixSurfaceKeyboard_TargetDir)FixSurfaceKeyboard.exe" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
